body {
    text-align: center;
    background: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
}

canvas {
    background: black;
    border: 3px solid white;
    margin-top: 20px;
}
